.dev-border {
  border: solid 1px blue;
  border-radius: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, cyan, yellow); /* 从左到右青色到黄色的渐变 */
}
.App-header {
  margin: 20px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(8px + 1.2vmin);
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.5); /* 半透明背景 */
  border-bottom: 1px solid #ddd;
}

.menu {
  margin: 0 20px;
  min-width: 200px;
  max-width: 240px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.5); /* 半透明背景 */
}

.main {
  flex-grow: 1;
  margin: 0 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* 半透明背景 */
  overflow-y: auto;
}

.box {
  margin: 10px 30px;
  height: 180px;
  width: min(25%, 180px);
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

/* 右侧面板标题样式 */
.sub-title {
  color: #747474;
}

