.dev-border {
  border: solid 1px blue;
  border-radius: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.App-header {
  margin: 20px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.menu {
  margin: 0 20px;
  min-width: 200px;
}

.main {
  flex-grow: 1;
  margin: 0 20px;
  padding: 20px;
}

.box {
  margin: 10px 30px;
  height: 180px;
  width: min(25%, 180px);
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

/* 右侧面板标题样式 */
.sub-title {
  color: #747474;
}

